/*
Theme URI: 
Author: Mohammed Astal
Author URI: 
Version: 1
*/


/*
     FILE ARCHIVED ON 03:13:51 Apr 24, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:20:00 Aug 21, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.257
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.011
  esindex: 0.011
  cdx.remote: 44.633
  LoadShardBlock: 618.138 (3)
  PetaboxLoader3.datanode: 218.91 (5)
  PetaboxLoader3.resolve: 550.537 (2)
  load_resource: 453.341
  loaddict: 122.699
*/